* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
    font-family: 'Helvetica Neue';
    font-size: 1.6rem;
}

h1, h2, h3 {
  color: #FFF;
  font-weight: 700;
}

h1 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}
